In [11]:
fruits=['aPple','manGoes','oraNges','banAna']
for f in fruits:
   print(f)

aPple
manGoes
oraNges
banAna

In [14]:
f

'banAna'

In [15]:
for f in fruits:
   print(f.upper())

APPLE
MANGOES
ORANGES
BANANA

In [17]:
for f in fruits:
   print(f.title())

Apple
Mangoes
Oranges
Banana

In [45]:
for f in fruits:
   print(f)
   print("jahanzaib")

print('kamran')

aPple
jahanzaib
manGoes
jahanzaib
oraNges
jahanzaib
banAna
jahanzaib
kamran

In [46]:
for f in fruits:
   y=f.upper()
   print()

APPLE
MANGOES
ORANGES
BANANA

In [ ]:
#range(start (default=0),end,step(default=1))

In [60]:
for i in range(2,8):
   print(f"{i}-kamran")

2-kamran
3-kamran
4-kamran
5-kamran
6-kamran
7-kamran

In [62]:

li=list(range (0,11, 2))
print(li)

[0, 2, 4, 6, 8, 10]

In [75]:
number=[1,2,3,4,5]
square=[]
for x in number:
  x=x**2
  print(x)
  square.append(x)
  print(square)


print(f"\n",square)

1
[1]
4
[1, 4]
9
[1, 4, 9]
16
[1, 4, 9, 16]
25
[1, 4, 9, 16, 25]

 [1, 4, 9, 16, 25]

In [79]:
[x**2 for x in number]

[1, 4, 9, 16, 25]

In [ ]:
fruit=['apple|zxc  ']

In [105]:
list=["ali", "ahmad","nadeem","shahmir"]
list.append("nameem")
print(list)

list.insert(0,"umer")

print(list) 

print(f"{list[0]},you are invited in the dinner")
print(f"{list[1]},you are invited in the dinner")
print(f"{list[2]},you are invited in the dinner")
print(f"{list[3]},you are invited in the dinner")
print(f"{list[4]},you are invited in the dinner\n")



for l in list:
    print(f"{l},you are invited in the dinner")



print(list)

['ali', 'ahmad', 'nadeem', 'shahmir', 'nameem']
['umer', 'ali', 'ahmad', 'nadeem', 'shahmir', 'nameem']
umer,you are invited in the dinner
ali,you are invited in the dinner
ahmad,you are invited in the dinner
nadeem,you are invited in the dinner
shahmir,you are invited in the dinner

umer,you are invited in the dinner
ali,you are invited in the dinner
ahmad,you are invited in the dinner
nadeem,you are invited in the dinner
shahmir,you are invited in the dinner
nameem,you are invited in the dinner
['umer', 'ali', 'ahmad', 'nadeem', 'shahmir', 'nameem']

In [110]:
for l in list[0:3]:#list(range (0,11, 2))
    print(f"{l},you are invited in the dinner")

umer,you are invited in the dinner
ali,you are invited in the dinner
ahmad,you are invited in the dinner

In [111]:
my_list = [1, 2, 3, 2]
index = my_list.index(0)
print(my_list)

ValueError: 0 is not in list